<div class="modal fade" id="loginFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="{{ path('app_home') }}" method="post">
					<div class="mb-3 row">
						<label for="username" class="col-sm-2 col-form-label">Email:</label>
						<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
					</div>
					<div class="mb-3 row">
						<label for="password" class="col-sm-2 col-form-label">Password:</label>
						<input type="password" class="form-control" id="password" name="_password"/>
					</div>
					<button type="submit" class="btn btn-primary">login</button>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
