{% extends 'base.html.twig' %}

{% block title %}Créer une recette
{% endblock %}


{% block body %}

	{% include "templatesPart/__navbar.html.twig" %}

	<div class="row">
		<div class="mb-3 col-md-6">
			<label for="js_recipe_form_name" class="form-label">Nom</label>
			<input type="text" class="form-control" id="js_recipe_form_name">
			<div id="js_recipe_form_name_error" class="invalid-feedback">
				Veuillez entrer un nom de recette valide...
			</div>
		</div>
		<div class="mb-3 col-md-6">
			<label for="js_recipe_form_time" class="form-label">Temps de préparation</label>
			<input type="time" class="form-control" id="js_recipe_form_time">
			<div id="js_recipe_form_time_error" class="invalid-feedback">
				veuillez indiquer un temps...
			</div>
		</div>
		<div class="mb-3 col-12">
			<label for="js_recipe_form_description" class="form-label">Description</label>
			<textarea class="form-control" id="js_recipe_form_description" rows="3"></textarea>
			<div id="js_recipe_form_description_error" class="invalid-feedback">
				veuillez indiquer un temps...
			</div>
		</div>
		<div class="mb-3 col-12">
			<label for="js_recipe_form_step" class="form-label">Etapes</label>
			<div id="js_recipe_form_step"></div>
			<button type="button" class="btn btn-success" id="js_recipe_form_step_plus">
				<i class="bi bi-plus-circle-fill"></i>
			</button>
		</div>
		<div class="mb-3 col-12">
			<label for="js_recipe_form_ingredient" class="form-label">Ingrédients</label>
			<div id="js_recipe_form_ingredient"></div>
			<button type="button" class="btn btn-success" id="js_recipe_form_ingredient_plus">
				<i class="bi bi-plus-circle-fill"></i>
			</button>
		</div>
		<div class='col-12 d-flex justify-content-end'>
			<button type="button" class="btn btn-warning text-danger" id="js_recipe_create">Créer la recette</button>
		</div>
		<div class="col-12" id="js_recipe_form_fetch_response" role="alert"></div>
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('recipe') }}
{% endblock %}
